@import '../../../styles/base/colors';
@import '../../../styles/base/variables';

.boards {
  display: flex;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
}
