@import '../../../styles/base/colors';
@import '../../../styles/base/variables';

.boards {
  display: flex;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  height: calc(100vh - 100px - 120px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__item {
    height: 100%;
    padding-top: 100px;

    + .boards__item {
      margin-left: 20px;
    }
  }
}
