@import '../../../styles/base/colors';
@import '../../../styles/base/variables';

.header {
  position: fixed;
  width: 100%;
  height: 100px;

  &__title {
    font-size: 3rem;
    font-weight: 600;
    color: $color--violet;
  }
}
