@import '../../../styles/base/colors';
@import '../../../styles/base/variables';
@import '../../../styles/utils/keyframes';

.board-menu {
  position: absolute;
  top: 25px;
  right: 0;
  width: 200px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s all;

  &--opened {
    max-height: auto;
    overflow: visible;
    opacity: 1;
  }

  &__list {
    padding: 20px;
    background-color: $color--white;
    border: 1px solid $color--violet;
    border-radius: 5px;
  }

  &__item {
    text-align: left;

    + .board-menu__item {
      margin-top: 10px;
    }
  }

  &__button {
    background-color: transparent;
    border: 0;
    color: $color--black;
    padding: 0;
    cursor: pointer;
    transition: 0.5s all;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $color--grey-dark;
    }
  }
}