@import './../base/colors';
@import './../base/variables';
@import './../utils/breakpoints';
@import './../utils/mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  font-weight: normal;
  vertical-align: baseline;
  border: 0;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1;
  color: $color--black;
  background-color: $color--white;
}

.visually-hidden {
  @include visually-hidden;
}

.button {
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: 0.5s all;
  min-width: 150px;

  &--primary {
    color: $color--violet;

    &:hover {
      color: $color--violet-lighter;
    }
  }

  &--secondary {
    color: $color--black;

    &:hover {
      color: $color--grey-dark;
    }
  }

  &--tertiary {
    color: $color--white;

    &:hover {
      color: $color--white-violet;
    }
  }

  &:hover {
    background: transparent;
  }

  + .button {
    margin-left: 10px;
  }
}

.accent {
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;

  &--light {
    color: $color--white;
  }

  &--dark {
    color: $color--black;
  }

  &--primary {
    color: $color--violet;
  }
}
